<div class="col-xs-12">
	<div class="jumbotron text-center">
		<h1>Agregar un Concepto</h1>
	</div>
	<form name="conceptoForm">
		<div class="alert alert-danger" role="alert" ng-show="conceptoForm.$dirty && !conceptoForm.$valid">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden></span>
			<span class="sr-only">Error:</span>
			Campo Descripción es requerido
		</div>
		<div class="form-group">
			<label>Id</label>
			<input type="text" ng-model="current.id" class="form-control" disabled="disabled" />
		</div>
		<div class="form-group">
			<label>Descripción</label>
			<input type="text" ng-model="current.nombre" class="form-control" required />
		</div>
		<div class="form-group">
			<a class="btn btn-success btn-lg btn-block" ng-click="conceptoForm.$valid && guardarConcepto()">
					<span class="glyphicon glyphicon-pushpin"></span>Guardar
			</a>
			<a href="#/conceptos" class="btn btn-default btn-lg btn-block">
					<span class="glyphicon glyphicon-remove"></span>Cancelar
			</a>
		</div>
	</form>
</div>