<div class="col-xs-12">
	<a href="#/gasto/nuevo" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 10px;">
		<span class="glyphicon glyphicon-plus"></span>
		Agregar un Gasto
	</a>
	<div class="form-horizontal" style="margin-bottom: 10px; display: flex;">
		<label class="col-sm-1 control-label">Año</label>
		<div class="col-sm-2">
			<select 
	            id="txtAnio"
	            ng-init="" 
	            ng-model="anio" 
	            ng-options="item for item in anios | orderBy:item:true"
	            ng-change=""
	            class="form-control">
	        </select>
    	</div>
        <label class="col-sm-1 control-label">Mes</label>
        <div class="col-sm-2">
			<select 
	            id="txtMes"
	            ng-model="mes" 
	            ng-change=""
	            class="form-control"
	            ng-options="m.value as m.name for m in meses">
	        </select>
    	</div>
		
   	</div>
	<gasto-table></gasto-table>
		
</div>