<table class="table table-bordered">
	<tr>
		<th>Fecha</th>
		<th>Concepto</th>
		<th>Egreso</th>
		<th>Ingreso</th>
		<th></th>
	</tr>
	

	<tr ng-repeat="gasto in gastos | orderBy: 'fecha'" >
	<td class="col-md-1">
		<span style="font-weight: bold">{{gasto.fecha | date:'dd/MM/yyyy':timezone}}</span>
	</td>
	<td class="col-md-8">
		<span style="font-weight: bold">{{gasto.concepto | uppercase}}</span>	
	</td>
	<td class="col-md-1">
		<span style="font-weight: bold">{{gasto.importe | uppercase}}</span>	
	</td>
	<td class="col-md-1">
		
	</td>
	<td class="col-md-1">
		<button type="button" class="btn btn-sm btn-default pull-right" ng-click="eliminarGastos(gasto)">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
		<a href="#/gasto/edit/{{gasto.id}}/" class="btn btn-sm btn-default pull-right">
			<span class="glyphicon glyphicon-pencil"></span>
		</a>
	</td>
	</tr>

</table>
