<div class="col-xs-12">
	<div class="jumbotron text-center">
		<h1>Agregar un Gasto</h1>
	</div>
	<form name="gastoForm">
		<div class="alert alert-danger" role="alert" ng-show="gastoForm.$dirty && !gastoForm.$valid">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden></span>
			<span class="sr-only">Error:</span>
			Campo Concepto es requerido
		</div>
		<div class="form-group">
			<label>Id</label>
			<input type="text" ng-model="current.id" class="form-control" disabled="disabled" />
		</div>
		<div class="form-group">
			<label>Fecha</label>
			<input type="date" ng-model="current.fecha" class="form-control" />
		</div>
		<div class="form-group">
			<label>Concepto</label>
			<select 
	            id="txtConcepto"
	            ng-model="current.concepto" 
	            ng-change=""
	            class="form-control"
	            ng-options="c as c.nombre for c in conceptos">
	        </select>
		</div>
		<div class="form-group">
			<label>Tipo</label>
			<select 
	            id="txtTipo"
	            ng-model="current.tipo" 
	            ng-change=""
	            class="form-control"
	            ng-options="tipo for tipo in tipos">
	        </select>
		</div>
		<div class="form-group">
			<label>Importe</label>
			<input type="number" ng-model="current.importe" class="form-control" />
		</div>
		<div class="form-group">
			<a class="btn btn-success btn-lg btn-block" ng-click="gastoForm.$valid && guardarGasto()">
					<span class="glyphicon glyphicon-pushpin"></span>Guardar
			</a>
			<a href="#/gastos" class="btn btn-default btn-lg btn-block">
					<span class="glyphicon glyphicon-remove"></span>Cancelar
			</a>
		</div>
	</form>
</div>